qwparity
Analysis
Feedback
Parity
results
*.root
*rootfiles*
*.list
*txt*
*pdf*
collector
archive
lostnfound
postpan/prex-respin1-conf
postpan/prex-respin2-conf
lagrange/prex-respin1-conf
lagrange/prex-respin2-conf
tree_merge
